@media screen and (max-width: 999px){
  .plan-1 {
      height: 350px;
      display: flex;
      align-items: center;
      background: url(../images/plan-breeding-main.png);
      background-position: center center;
      background-size: cover;
  }
  .litter-1 {
    margin-top: 30px !important;
  }
  .litter-1p {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px){
  .plan-1 {
      height: 350px !important;
      display: flex;
      align-items: center;
      background: url(../images/plan-breeding-main.png);
      background-position: center center;
      background-size: cover;
  }
}
@media screen and (max-width: 767px){
  .plan-1 {
      height: 350px !important;
      display: flex;
      align-items: center;
      background: url(../images/plan-breeding-main.png);
      background-position: center center;
      background-size: cover;
  }
}
@media screen and (max-width: 480px){
  .plan-1 {
      height: 350px !important;
      display: flex;
      align-items: center;
      background: url(../images/plan-breeding-main.png);
      background-position: center center;
      background-size: cover;
  }
  .row.u-layout-row.updrive {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .px-5 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
}
@media screen and (max-width: 360px){
  .px-5 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
  .row.u-layout-row.updrive {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .plan-1 {
      height: 350px !important;
      display: flex;
      align-items: center;
      background: url(../images/plan-breeding-main.png);
      background-position: center center;
      background-size: cover;
  }
}